
html { background-color: #cccccc; }
body { background-color: transparent; font-family: 'roboto-condensedlight'; }


.nav { display: block; height: 124px; position: fixed; z-index: 1000; width: 100%; top:0; left:0; right:0; }
.nav .wrapper-outer { box-shadow: 0 5px 5px rgba(0,0,0,0.15); overflow: initial; }
.nav .left { float: left; height: inherit; }
.nav .left img { height: 100%; max-height: 90px; margin: 17px 0px; width: auto; }
.nav .right { float: right; height: inherit; position: relative; }
.nav .right a { display: inline-block; text-transform: uppercase; line-height: 124px; font-size: 17px; color: #3f3f3f; padding: 0px 0px 0px 24px; text-decoration: none; }
.nav .right a.large { font-family: 'roboto-condensedregular'; text-transform: initial; font-style: italic; font-size: 30px; color: #183d73; }
.nav .right a.banner { background-color: #a5ca16; display: inline-block; margin-left: 24px; padding: 20px 0; position: relative; line-height: initial; text-align: center; vertical-align: top; width: 180px; }
.nav .right a.banner .text-1 { color: #fff; font-family: 'roboto-condensedregular'; font-size: 22px; text-transform: capitalize; font-style: italic; letter-spacing: -1px; }
.nav .right a.banner .text-2 { color: #fff; font-family: 'gotham-ultra'; font-size: 55px; line-height: 40px; }
.nav .right a.banner .text-3 { color: #173c71; font-family: 'roboto-condensedregular'; font-size: 23px; font-weight: bold; line-height: normal; }
.nav .right a.banner:before { content: ''; left: 0; bottom: -20px; position: absolute; width:0;height:0; border-style: solid; border-width: 20px 90px 0 0; border-color: #a5ca16 transparent transparent transparent; }
.nav .right a.banner:after { content: ''; right: 0; bottom: -20px; position: absolute; width:0;height:0; border-style: solid; border-width: 20px 0 0 90px; border-color: #a5ca16 transparent transparent transparent; }
.nav .right a .color { background-color: #0d9a69; border: 1px solid #0d9a69; color: #fff; padding: 12px; margin: -12px 0; }
.nav .right a:hover { color: #269cdb; }
.nav .right a:hover .color { background-color: #ffffff; color: #0d9a69; }
.nav .right > .button { display: none; }
.nav .wrapper-inner { height: 100%; }
.nav .wrapper-outer { height: 100%; background-color: #FFF;  }

.wrapper-outer { max-width: 1400px; margin: 0px auto; overflow-x: hidden; }
.wrapper-inner { max-width: 1280px; margin: 0px auto; padding: 0px 12px; }

.header { width: 100%; height: 900px; color: #FFF; position: relative; overflow: hidden; }
.header > img { width: 100%; height: auto; min-height: 640px; min-width: 1280px; right: 0px; position: absolute; bottom: 0px; }
.header .article { display: -webkit-box; display: -moz-box; display: -webkit-flex; display: flex; -webkit-box-flex-direction: row; -moz-box-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }
.header .head-line { margin: auto; text-align: center; padding: 24px 16px 0; }
.header .head-line img { max-width: 100%; }
.header .head-line h1 { margin: 12px 0; padding: 0px; font-family: 'GothamHTF-BookCondensed'; font-size: 38px; line-height: 32px; }
.header .head-line p { margin: 12px 0; padding: 0px; font-family: 'roboto-condensedlight'; font-size: 15px; line-height: 12px; text-align: right; }
.header .footer { position: absolute; bottom: 0px; right: 120px; }
.header .footer span { color: #FFF; display: block; padding: 12px 0px; text-shadow: 0px 0px 5px #000; }
.header .footer .logo { }
.header .learn-more { bottom: 12px; color: #fff; font-family: 'GothamHTF-BookCondensed'; font-size: 17px; left: 0; position: absolute; right: 0; text-align: center; text-decoration: none; text-transform: uppercase; }
.header .learn-more:after { content: '\2193'; display: block; font-size: 16px; line-height: 16px; }

.owl-carousel { height: inherit; }
.owl-carousel .owl-stage-outer { height: inherit; }
.owl-carousel .owl-stage  { height: inherit; }
.owl-carousel.owl-text-select-on .owl-item { height: inherit; }
.owl-carousel .item { width: 100%; height: inherit; background: url('') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.owl-carousel .owl-controls { text-align: center; margin: 12px 0; }
.owl-carousel .owl-dot { display: inline-block; height: 20px; width: 20px; background-color: #cccccc; border-radius: 50%; margin: 0 5px; }
.owl-carousel .owl-dot.active { background-color: #1e406d; }

.section {
    background-color: #FFF;
    padding: 80px 0px;
    width: 100%;
}
.section h1 { font-family: 'roboto-condensedbold'; font-size: 36px; margin-bottom: 24px; color: #666; }
.section h3 { font-family: 'roboto-condensedbold'; font-size: 30px; margin-bottom: 24px; color: #666; }
.section p, .section ul { font-family: 'roboto-condensedlight'; color: #777; font-size: 17px; margin: 24px 0px; }
.section ul { padding-left: 0px; margin-left: 20px; margin: 0px 0px 0px 20px; }
.section .left { width: 50%; display: inline-block; padding-right: 12px; margin-right: -4px; }
.section .left.relative { position: relative; }
.section .left.relative img { position: absolute; top: 0; left: 0%; width: 100%; height: auto; z-index: 0;}
.section .right { width: 50%; display: inline-block; padding-left: 12px; vertical-align: top; }
.section video { width: 100%;  height: auto; }
.section .tm { font-size: .45em; vertical-align:top; text-transform: uppercase; margin-top: -10px; }

.section .tg  { border-collapse:collapse; border-spacing:0; width: 100%; margin-top: 48px; border: 2px solid #efefef; }
.section .tg td{ font-size:18px; padding:24px 5px; border: 2px solid #FFF; overflow:hidden; word-break:normal; }
.section .tg th{ font-size:18px; font-weight:normal; padding:24px 5px; border: 2px solid #FFF; overflow:hidden; word-break:normal;}
.section .tg .tg-s6z2{text-align:center; color:#666; border: 2px solid #e5e5e5;}
.section .tg .tg-s6z2.no-border {  border: 2px solid #FFF;}
.section .tg .tg-1c9a{background-color:#05518d;color:#ffffff;text-align:center;  border: 2px solid #e5e5e5;}

.background-image {
    background: url('') no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.center-image { display: block; margin-left: auto; margin-right: auto; }
.guy { position: absolute; bottom: 0; right: 24px; }

#section0 { background-color: #f5f5f5; padding-top: 48px; padding-bottom: 0; box-shadow: inset 0 -80px 80px -80px rgba(0,0,0,0.15); }
#section0 .wrapper-inner { margin-bottom: -5px; }
#section0 img { width: auto; margin: 0 auto -64px auto; }
#section0 .owl-carousel .owl-controls { position: absolute; top: 40%; left: 0; right: 0; pointer-events:none; }
#section0 .owl-carousel .owl-pagination { display: none; }
#section0 .owl-prev, .owl-next { visibility: hidden; position: absolute !important; }
#section0 .owl-prev { left: 5%; }
#section0 .owl-next { right: 5%; }
#section0 .owl-prev:after,
#section0 .owl-next:after { visibility: visible; font-size: 32px; color: #cccccc; pointer-events:all; display:inline-block; -webkit-transform:scale(1,3); -moz-transform:scale(1,3); -ms-transform:scale(1,3); -o-transform:scale(1,3); transform:scale(1,3); font-family: initial; width: 100%; height: 100%; }
#section0 .owl-next:after { content: '>'; }
#section0 .owl-prev:after { content: '>'; -webkit-transform:scale(1,3) rotate(180deg); -moz-transform:scale(1,3) rotate(180deg); -ms-transform:scale(1,3) rotate(180deg); -o-transform:scale(1,3) rotate(180deg); }
#section0 ul { list-style: none; margin: 48px 0 0 56px; }
#section0 ul li { padding-bottom: 32px; position: relative; }
#section0 .step {
    position: absolute;
    left: -48px;
    top: -4px;
    font-family: 'gotham-ultra';
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    background-color: #05518D;
    border-radius: 50%;
    text-align: center;
}

.section.animate-images {
    padding: 48px;
}
.pad-left-110 { padding-left: 110px; }

.section .wrapper-inner.smaller { max-width: 1000px; }
.section .animation { position: relative; max-width: 800px; margin-top: -16px; min-height: 420px; }
.section .animation img { position: absolute; top: 0%; left: 0; width: auto; }
.section img { max-width: 100%; }

.footer.section { background-color: #d5d5d5; padding: 0px 0px 128px 0px; text-align: center; }
.footer.section a { display: inline-block; font-size: 16px; color: #777; padding: 6px 12px; margin: 24px 0px; border-right: 2px solid #cccccc; }
.footer.section a:last-of-type { border: none;}
.footer.section img { display: block; max-width: 100%; margin: 0 auto; }

.breaker { border-bottom: 1px solid #d9d9d9; }
.center { text-align: center; }

@media(max-width:1200px){
    .nav .right a.large { font-size: 16px; }
}
@media(max-width:960px){
    .nav { height: 80px; }
    .nav .left { height: 64px; margin-top: 14px; }
	.nav .left img { margin-top: 2px; max-height: 80%; max-width: 100%; height: auto; }
    .nav .right a { font-size: 14px; line-height: 80px; }
    .header .head-line h1 { font-size: 24px; }
    .header .head-line p { text-align: center; }
    .guy { max-width: 50% !important; z-index: 0;}
}
@media(max-width:800px){
    .nav .right { background-color: #FFF; height: auto; }
    .nav .right > a { display: none; text-align: center; padding: 0px 12px; width: 100%; }
    .nav .right > a.banner { margin: 0; }
    .nav:hover .right > img { margin-top: -40px; }
	.header .footer { right: 12px; }
    .header .footer .logo { max-width: 50%; height: auto;  }
    .section.animate-images .right { width: 100%; }
    .pad-left-110 { padding-left: 0px; }
}
@media(max-width:640px){
    .nav .right  { transform:scale(0.7); top: -30%; position: absolute; right: 0; }
    .section { padding: 32px 0px; }
    .section .left { width: 100%; display: block; padding: 0px; }
    .section .left img { margin-top: 12px; max-height: 50%; }
    .section .right { width: 100%; display: block; padding: 0px; }
	.section .tg td{ font-size:14px; }
	.section .tg th{ font-size:14px; }
    .guy { display: none; }
    #section0 img { width: auto; margin: 0 auto; }
    #section2 h1 { font-size: 48px; line-height: 42px; }
	#section3 .left { width: 100%; }
	#section3 .right { width: 100%; text-align: center; }
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 25, 2014 */
@font-face {
    font-family: 'avenir-next';
    src: url('../fonts/avenirnextltpro-demicn.eot');
    src: url('../fonts/avenirnextltpro-demicn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirnextltpro-demicn.woff') format('woff'),
         url('../fonts/avenirnextltpro-demicn.ttf') format('truetype'),
         url('../fonts/avenirnextltpro-demicn.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'avenir-next-reg';
  src: url('../fonts/AvenirNext-Regular.eot');
  src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirNext-Regular.woff') format('woff'),
       url('../fonts/AvenirNext-Regular.ttf') format('truetype'),
       url('../fonts/AvenirNext-Regular.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'GothamHTF-BookCondensed';
    src: url('../fonts/GothamHTF-BookCondensed.eot');
    src: url('../fonts/GothamHTF-BookCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF-BookCondensed.woff') format('woff'),
         url('../fonts/GothamHTF-BookCondensed.ttf') format('truetype'),
         url('../fonts/GothamHTF-BookCondensed.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamHTF-Medium';
    src: url('../fonts/GothamHTF-Medium.eot');
    src: url('../fonts/GothamHTF-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF-Medium.woff') format('woff'),
         url('../fonts/GothamHTF-Medium.ttf') format('truetype'),
         url('../fonts/GothamHTF-Medium.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-ultra';
    src: url('../fonts/GothamHTF-Ultra.eot');
    src: url('../fonts/GothamHTF-Ultra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF-Ultra.woff') format('woff'),
         url('../fonts/GothamHTF-Ultra.ttf') format('truetype'),
         url('../fonts/GothamHTF-Ultra.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.eot');
    src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}